body {
	background-color:;
	margin: 0;
}
#header-menu {
	width: 100%;
	height: 15vh;
	background-color: ;
	display: flex;
}
.nysc-logo {
	width: 100px;
	height: 15vh;
	background-color: ;
	margin-top: 20px;
	margin-left: 50px;
}
.logo-texts {
	width: 30%;
	height: 15vh;
	background-color: ;
}
.header-name {
	width: 100%;
	height: 5vh;
	background-color: ;
	margin-top: 30px;
}
.sub-header-name {
	width: 80%;
	height: 5vh;
	background-color: ;
	margin-left: 40px;
}
#nav-bar{
	width: 80%;
	height: 15vh;
	background-color: ;
	display: flex;
	border-left: 1px solid black;
}
#section1 {
	width: 100%;
	height: 20vh;
	background-color: ;
	display: flex;

}
.nav-link {
	height: 20px;
	font-size: 10px;
	background-color: ;
	text-decoration-line: none;
	color: #999;
	font-size: 1.2em;
    padding: 2.2em .9em;	
}
.nav-link:hover {
 	background-color: brown;
 	transition: ease all 0.1s;
}


#welcome-bar {
	width: 100%;
	height: 8vh;
	font-size: 30px;
	font-family: 'Open Sans', sans-serif;
	color: white;
	background-color: green;
	border-top: 4px solid brown;
}
.welcomebar-text {
	margin-left: 5%;
	margin-top: 10px;
}
.mobilization-bar {
	width: 50%; 
	height: 8vh;
	background-color: #802000;
	margin-top: 20px;
	margin-left: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.mobilization-bar:hover {
	background-color: #330000;
 	transition: ease all 0.3s;
}
.mobilization-text1 {
	width: 50%;
	height: 5vh;
	margin-top: 10px;
	margin-left: 100px;
	font-size: 18px;
	color: white;
	font-weight: 20px;
}

.mobilization-text2 {
	width: 30%;
	height: 20px;
	color: red;
	font-size: 12px;
	font-weight: 50px;
	margin-right: 5px;
	background-color: white;
	border-radius: 2px;
	margin-bottom: 15px;
	border-top: 1px solid gray;
}
#login-box {
	width: 20%;
	height: 30vh;
	margin-top: 10px;
	margin-left: 10%;
	display: flex;
	flex-direction: column;
	background-color: ;
}
.Login {
	width: 50%;
	height: 10vh;
	font-size: 20px;
	font-family: sans-serif;
	color: darkgray;
	background-color:;
	margin-top: 10px;
	margin-left: 40px;
}
.login-logo {
	width: 30%;
	height: 5vh;
	background-color: ;
	margin-left: 50px;
	margin-bottom: 60%;
}
#remobilization-link {
	width: 80%;
	height: 15vh;
	margin-left: 10%;
	background-color: ;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border: 1px solid #999;

}
.remobilization-text1 {
	width: 50%;
	height: 5vh;
	font-size: 25px;
	font-weight: bold;
	color: red;
	margin-left: 30%;
	margin-top: 20px;
}
.remobilization-text2 {
	width: 30%;
	height: 5vh;
	font-size: 15px;
	color: #4f8db3;
	margin-left: 43%;
	margin-bottom: 20px;
}
#boxes-page {
	width: 100%;
	height: 40vh;
	display: flex;
	justify-content: space-around;
	margin-top: 50px;
}
.verify-box {
	width: 25%;
	height: 30vh;
	background-color: ;
	border-radius: 10px;
	padding-top: 30px;
	box-shadow: 0 0 3px #999;
}

.payment-box {
	width: 25%;
	height: 30vh;
	background-color: ;
	border-radius: 10px;
	padding-top: 30px;
	box-shadow: 0 0 3px #999;
}
.main-site-box {
	width: 25%;
	height: 30vh;
	background-color: ;
	border-radius: 10px;
	padding-top: 30px;
	box-shadow: 0 0 3px #999;
}
.box-image {
	margin-left: 40%;
}
.box-text1 {
	width: 80%;
	font-size: 15px;
	font-weight: bold;
	color: #000000;
	background-color: #ccffcc;
	margin-left: 20px;
	border-radius: 10px;
	margin-top: 10px;
	text-align: center;
	padding: 10px;

}
.box-text2 {
	font-size: 15px;
	color: #4f8db3;
	margin-left: 10px;
	margin-bottom: 20px;
	text-align: center;
	padding-top: 10px;
	}
#guidelines {
	width: 100%;
	margin-bottom: 20px;
	background-color: ;
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;

}
.guideline-text {
	font-size: 30px;
  	color: #595f6b;
	margin-left: 50px;
	border-bottom: 1px solid gray;
	margin-right: 50px;

}
.box-container { 
	background-color:;
	margin-top: 10px; 
	display: flex;
	justify-content: space-around;

	
}
.guideline-box {
	width: 20%;
	height: 30vh;
	background-color: ;
	border-radius: 5px;
	box-shadow: 0 0 2px 3px #d2d2d2;
	margin-top: 20px;
}
.guideline-box:hover {
	box-shadow: 2px 2px 2px 3px #d2d2d2; 
	transition: all 200ms ease-out;

}

.guideline-boxtext {
	font-size: 18px;
	color: #595f6b;
	padding-top: 20px; 
	padding-bottom: 20px;
	margin-left: ;
	margin-top: 10px;
	text-align: center;
	border-bottom: 1px solid #d2d2d2;
}
.guideline-boximage {
	width: 50%;
	height: 15vh;
	background-color: ;
	margin-left: 80px;
	margin-top: 10px;
}

#info-page {
	height: 30vh;
	background-color: ;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.header-text {
	font-size: 30px;
	color: #595f6b;
	margin-left: 50px;
	margin-right: 50px;
	border-bottom: 1px solid gray;
}
.bottom-box1 {
	width: 20%;
	margin-top: 20px;
	margin-bottom: 20px;
	height: 50%;
	box-shadow: 0 0px 3px #d2d2d2;
	padding: 10px;
}
.bottombox-text {
	margin-top: 20px;
	color: #4f8db3;


}
.bottombox-text1 {
	width: 100%;
	height: 40%;
	background-color: ;
	margin-top: 20px;
	margin-left: 10px;
	box-shadow: 0 1px 3px  #d2d2d2;
	padding: 20px;
	color: #4f8db3;
}
.bottombox-text2 {
	width: 100%;
	height: 20%;
	box-shadow: 0 1px 3px #d2d2d2;
	background-color: ;
	margin-top: 20px;
	margin-left: 10px;
	padding: 20px;
	color: #4f8db3;
}
#footer {

    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  	padding: 10px;
	background-color: #003500; 
	display: flex;
	justify-content: space-around;
}

.footer-box1 {
	color: white;
	font-size: 12px;
	margin-top: 20px;
	margin-right: 20px;
}
.footer-box2 {
	color: white;
	font-size: 12px;
	margin-top: 20px;
	margin-right: 50px;
}